/.vs/AsyncFundamental/v16/Server/sqlite3
/AppSinc/bin/Debug
/Data/bin/Debug
/Data/obj/Debug/Data.pdb
/Data/obj/Debug/Data.dll
/.vs/AsyncFundamental/v16/.suo
/AppSinc/obj/Debug/App.g.cs
/AppSinc/obj/Debug/AppSinc.csproj.CopyComplete
/AppSinc/obj/Debug/AppSinc.csproj.GenerateResource.cache
/AppSinc/obj/Debug/AppSinc.csprojAssemblyReference.cache
/AppSinc/obj/Debug/AppSinc.exe
/AppSinc/obj/Debug/AppSinc.pdb
/AppSinc/obj/Debug/AppSinc.g.resources
/AppSinc/obj/Debug/AppSinc_MarkupCompile.lref
/AppSinc/obj/Debug/AppSinc_MarkupCompile.cache
/AppSinc/obj/Debug/AppSinc.Properties.Resources.resources
/AppSinc/obj/Debug/MainWindow.baml
/AppSinc/obj/Debug/MainWindow.g.cs
